*.aux
*.fls
*.fdb_latexmk
*.out
*.log
*.gz
*.aux
*.fls
*.db_latexmk
*.log
*.gz
*.synctex.gz
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.dvi
*.xml
.DS_Store
.vscode/settings.json
*.bbl-SAVE-ERROR
*.pdf
*.toc
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
document.synctex(busy)
